amqp==2.2.2
billiard==3.5.0.3
click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
MarkupSafe==1.0
numpy==1.13.3+mkl
pytz==2017.2
scikit-learn==0.19.0
scipy==1.0.0rc1
sklearn==0.0
vine==1.1.4
Werkzeug==0.12.2
